<%= simple_form_for @book, html: { class: 'form-horizontal' } do |f| %>
    <fieldset>
      <legend><%= controller.action_name.capitalize %> Book</legend>
			  <%= f.input :title %>
				<%= f.association :category, as: :radio_buttons %>
				<%= f.input :units_sold %>
					<%= f.input :proposal_date, as: :date, order: [:month, :day, :year], start_year: Date.today.year - 2, end_year: Date.today.year %>
					<%= f.input :contract_date, as: :date, order: [:month, :day, :year], include_blank: true, start_year: Date.today.year - 2, end_year: Date.today.year %>
					<%= f.input :published_date, as: :date, order: [:month, :day, :year], include_blank: true, start_year: Date.today.year - 2, end_year: Date.today.year %>
					<%= f.input :notes %>				
  			<%= f.input :author_ids, label: "Author(s)", collection: Author.active.alphabetical, as: :check_boxes %>
	<div class="form-actions">
    <%= f.submit nil, class: 'button' %>
    <%= link_to 'Cancel', books_path, :class => 'button secondary' %>
  </div>
    </fieldset>
<% end %>